<!-- /views/elephant.erb -->

<h1>Dice Roll</h1>

<p>Choose a dice roll:</p>
    <ul>
      <li><a href="/dice/2/6">Two 6-sided dice</a></li>
      <li><a href="/dice/2/10">Two 10-sided dice</a></li>
      <li><a href="/dice/1/20">One 20-sided die</a></li>
      <li><a href="dice/5/4">Five 4-sided dice</a></li>
    </ul>
